@layer components {
  .dialog {
    outline: none;
    @apply mx-auto;
  }
  
  @media (min-width: 640px) {
    .dialog {
      @apply max-w-xl;
    }
  }
  
  @media (min-width: 768px) {
    .dialog {
      @apply max-w-2xl;
    }
  }
  
  @media (min-width: 1024px) {
    .dialog {
      @apply max-w-4xl;
    }
  }
  
  @media (min-width: 1280px) {
    .dialog {
      @apply max-w-6xl;
    }
  }
  
  .dialog-content {
    @apply p-6 rounded-2xl shadow-xl mx-4 my-8 sm:mx-0 sm:my-16 relative h-full bg-white dark:bg-gray-800;
  }
  
  .dialog-overlay {
    transition: all 0.15s ease-in-out;
    @apply inset-0 fixed z-30 bg-black/60 dark:bg-black/80 backdrop-blur-md;
  }
  
  .dialog-overlay-after-open {
    opacity: 1;
  }
  
  .dialog-overlay-before-close {
    opacity: 0;
  }  
}